{
	email {$WODSIEGE_ACME_EMAIL}
	admin off
}

{$WODSIEGE_SITE_ADDRESS} {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000"
		X-Frame-Options "DENY"
		Referrer-Policy "no-referrer"
		-Server
	}
	reverse_proxy api:8787
}
